:root{
    font-size: 0.8rem;
    --color-primary: hsl(235, 35%, 19%);
    --color-secondary: hsl(358, 78%, 69%);
    --color-font: hsla(0, 0%, 100%, 0.902);
    --color-shadow: hsl(235, 36%, 35%);
}

body{
    background-color: var(--color-primary);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-font);
    font-size: 1.2rem;
}

.container{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    text-align: left;
}

.work-time{
    margin: 0 50px 0 50px;
    position: relative;
    align-self: center;
    height: 1.5rem;
    text-align: center;
}

.work-time input{
    color: white;
    border-radius: 40px;
    background-color: var(--color-primary);
    -webkit-box-shadow: 0 0 15px 10px var(--color-shadow);
}

.work-time p{
    font-size: 1.3rem;
}

.pomodoro{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    width: min(42.5rem, 100%);
    padding: 30px 25px 0;
    text-align: center;
    align-items: center;
}

.panel{
    -webkit-box-shadow: 0 0 15px 10px var(--color-shadow);
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    display: grid;
    border-radius: 10rem;
    width: 20rem;
}

.timer{
    margin: 45px 0 30px 0;
    position: relative;
    align-self: center;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 10px var(--color-shadow);
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.circle{
    width: 24rem;
    height: 24rem;
    border: 7px solid var(--color-secondary);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.control button{
    font-size: 1.3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    border:none;
    cursor: pointer;
}

.control i{
    color: white;
    font-size: 1.3rem;
}

.work.active p{
    color: var(--color-secondary);
}

.break.active{
    color: #72EEA8FF;
}
